<div class="container mx-auto px-4 max-h-screen">
    <div class="dashboard p-6 bg-gray-100 rounded-lg shadow-lg">
      <h1 class="text-3xl font-bold my-3 text-center">Gestión de Reuniones y Planificación</h1>
      <div class="overflow-x-auto">
        <table class="table mt-4 w-full border-collapse border border-gray-300">
          <thead class="bg-gray-200">
            <tr>
              <th class="border border-gray-300 px-4 py-2">Fecha</th>
              <th class="border border-gray-300 px-4 py-2">Hora</th>
              <th class="border border-gray-300 px-4 py-2">Participantes</th>
              <th class="border border-gray-300 px-4 py-2">Objetivo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-300 px-4 py-2">01/01/2023</td>
              <td class="border border-gray-300 px-4 py-2">10:00</td>
              <td class="border border-gray-300 px-4 py-2">Eduardo Merino</td>
              <td class="border border-gray-300 px-4 py-2">Programación de Sistemas</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2">01/01/2023</td>
              <td class="border border-gray-300 px-4 py-2">10:00</td>
              <td class="border border-gray-300 px-4 py-2">Ivan Hubel</td>
              <td class="border border-gray-300 px-4 py-2">Programación de Sistemas</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2">01/01/2023</td>
              <td class="border border-gray-300 px-4 py-2">10:00</td>
              <td class="border border-gray-300 px-4 py-2">Victor Farfán</td>
              <td class="border border-gray-300 px-4 py-2">Programación de Sistemas</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2">01/01/2023</td>
              <td class="border border-gray-300 px-4 py-2">10:00</td>
              <td class="border border-gray-300 px-4 py-2">Hector Martinez</td>
              <td class="border border-gray-300 px-4 py-2">Programación de Sistemas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex flex-wrap items-center justify-evenly mt-4">
        <button (click)="crearReunion()" class="btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">
          Crear Reunión
        </button>
        <button (click)="actualizarReunion()" class="btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">
          Actualizar Cronograma
        </button>
      </div>
    </div>
  </div>
  