<div class="container mx-auto px-4 max-h-screen">
    <div class="dashboard p-6 bg-gray-100 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold mb-4 text-center">Generación de Recepción de Órdenes</h1>
      <form class="mt-4">
          <div class="form-group mb-4">
              <label for="module-name" class="block text-gray-700 text-sm font-bold mb-2">Nombre del módulo</label>
              <input type="text" id="module-name"
                  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="form-group mb-4">
              <label for="start-date" class="block text-gray-700 text-sm font-bold mb-2">Fecha de inicio</label>
              <input type="date" id="start-date"
                  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="form-group mb-4">
              <label for="end-date" class="block text-gray-700 text-sm font-bold mb-2">Fecha de cierre</label>
              <input type="date" id="end-date"
                  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div class="flex flex-wrap items-center justify-evenly mt-6">
              <button (click)="receptionOrder()" type="button" 
                class="btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2 md:mb-0 md:mr-2">
                  Generar
              </button>
              <button type="button"
                  class="btn-secondary bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mb-2 md:mb-0 md:mr-2">
                  Cancelar
              </button>
          </div>
      </form>
    </div>
  </div>
  