<div class="container mx-auto px-4 max-h-screen">
    <div class="dashboard p-6 bg-gray-100 rounded-lg shadow-lg text-center flex flex-col items-center justify-center">
      <h1 class="text-3xl font-bold my-3">PROYECTO FIN DE CURSO</h1>
      <div class="flex items-center justify-center mb-4">
          <img src="UNMSM.png" alt="unmsm" class="w-full max-w-xs">
      </div>
      <div class="mb-4">
          <h2 class="text-2xl font-bold">Docente</h2>
          <h3 class="text-xl font-bold">Marco Antonio Ygnacio Coral</h3>
      </div>
      <div class="mb-4">
          <h2 class="text-2xl font-bold">Asignatura</h2>
          <h3 class="text-xl font-bold">Análisis de Sistemas</h3>
      </div>
      <div class="mb-4">
          <h2 class="text-2xl font-bold">Sección</h2>
          <h3 class="text-xl font-bold">1</h3>
      </div>
    </div>
  </div>
  